<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat video</title>
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/fontawesome-free/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        video {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .uk-offcanvas-bar{

        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script>
        const r_id = "<%= roomId %>";
    </script>
    <script src="/assets/js/index.js" defer></script>
</head>

<body>
    <div class="uk-container" id="app">
        <div class="col-lg-12 uk-margin-small-top">
            <div class="row">
                <div v-for="item in client" :key="item.userId" class="col-lg-4" :id="'d_' + item.userId">
                    <div class="uk-card uk-card-default uk-padding-small">
                        <div class="uk-inline uk-inline-clip uk-transition-toggle">
                            <div :id="'u_' + item.userId" v-if="currentUser.isTurnOnCamera"></div>
                            <img src="" alt="" v-if="!currentUser.isTurnOnCamera">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                                <div class="text-center">
                                    <p class="text-white">{{item.userName}}</p>
                                    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #left-menu">Thao tác</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-side">
            <div id="left-menu" uk-offcanvas>
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <h3>Thao tác</h3>

                    <div class="uk-flex">
                        <div>
                            <button @click="clearCurrentData()" class="uk-button uk-button-default">Thoát</button>
                        </div>
                        <div>
                            <button class="uk-button uk-button-default">Khung chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>